@mixin desktop {
  @media screen and (min-width: 1000px) {
    @content;
  }
}
@mixin landscape {
  @media screen and (orientation: landscape) {
    @content;
  }
}
$LIVE_CHAT: 'iframe[title="YouTube chat"]';
$CONTAINER: "#react-container > div";

#react-container {
  width: 100%;
  #{$LIVE_CHAT} {
    height: 550px;
    @include landscape() {
      // mobile-landscape
      @include desktop() {
        height: 100%;
      }
    }
  }
  #theatre-mode button {
    background: transparent;
    color: white;
    border: 1px solid white;
  }
  > div {
    // mobile-portrait
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    @include landscape() {
      // mobile-landscape
      @include desktop() {
        // desktop-landscape
        height: 550px;
      }
    }
    @include desktop() {
      // desktop-portrait
    }
  }
  > div > div {
    flex: 1;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    @include landscape() {
      // landscape-mobile
      @include desktop() {
        // landscape-desktop
        position: absolute;
        flex: unset;
        flex-direction: row;
        background-color: black;
        align-items: center;
        right: -90px;
        left: -90px;
      }
    }
    #youtube-player {
      margin-bottom: 46px;
      @include landscape() {
        margin-bottom: unset;
      }
    }
  }
  #theatre-mode {
    position: absolute;
    top: 100%;
    bottom: -30px;
    right: 0;
    left: 0;
    display: flex;
    button {
      flex: 1;
      border: 1px solid #ddd;
      border-radius: 6px;
      margin: 8px 4px;
      height: 100%;
      color: #afafaf;
      background-color: transparent;
      font-family: "proxima-nova";
      line-height: 1.3em;
      letter-spacing: 0px;
      font-weight: 700;
      font-style: normal;
      text-align: center;
      @include desktop() {
        border: 1px solid rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.3);
        max-width: 400px;
        margin: 15px auto;
      }
    }
  }
  #youtube-player {
    flex: 2;
    iframe {
      width: 1px;
    }
  }
  &:fullscreen {
    // Portrait-mobile-fullscreen
    #youtube-player {
      flex: unset;
      @include desktop() {
        flex: 2;
      }
    }
    #{$LIVE_CHAT} {
      height: 100%;
    }
    @include landscape() {
      // landscape-mobile-fullscreen
      // > div > div {
      //   flex: unset;
      //   flex-direction: row;
      //   background-color: black;
      //   align-items: center;
      // }
      @include desktop() {
        > div {
          height: 100vh;
        }
        > div > div {
          right: 0;
          left: 0;
        }
        // landscape-desktop-fullscreen
      }
    }
    @include desktop() {
      // Portrait-desktop-fullscreen
    }
  }
}

.title {
  -webkit-text-size-adjust: 100%;
  color: #212121;
  font-family: "proxima-nova";
  line-height: 1.3em;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
  margin: 0 0 28px;
  margin-top: 0;
  text-align: center;
  white-space: pre-wrap;
  margin-bottom: 16px;
}
